<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.byau.dao.JiaoyanshiDAO">
    <resultMap id="BaseResultMap" type="Jiaoyanshi">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="jysdh" property="jysdh" jdbcType="VARCHAR"/>
        <result column="jysmc" property="jysmc" jdbcType="VARCHAR"/>
        <result column="kch" property="kch" jdbcType="VARCHAR"/>
        <result column="xydh" property="xydh" jdbcType="VARCHAR"/>
        <result column="zydh" property="zydh" jdbcType="VARCHAR"/>
        <result column="jyskindId" property="jyskindId" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="hResultMap" type="Jiaoyanshi">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="jysdh" property="jysdh" jdbcType="VARCHAR"/>
        <result column="jysmc" property="jysmc" jdbcType="VARCHAR"/>
        <result column="kch" property="kch" jdbcType="VARCHAR"/>
        <result column="xydh" property="xydh" jdbcType="VARCHAR"/>
        <result column="zydh" property="zydh" jdbcType="VARCHAR"/>
        <result column="jyskindId" property="jyskindId" jdbcType="VARCHAR"/>
        <association property="jysKind" javaType="JysKind">
            <id column="id" property="id" jdbcType="VARCHAR" />
            <result column="kindId" property="kindId" jdbcType="VARCHAR" />
            <result column="kindName" property="kindName" jdbcType="VARCHAR" />
            <result column="kindRemark" property="kindRemark" jdbcType="VARCHAR" />
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,jysdh,jysmc,kch,xydh,zydh,jyskindId
    </sql>
    <select id="getById" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from Jiaoyanshi
        where id = #{courseId,jdbcType=VARCHAR}
    </select>


    <select id="listByPage" resultMap="hResultMap">
        select c.*, ck.kindName
        FROM jiaoyanshi c
                 LEFT JOIN jyskind ck
                           ON ck.id = c.jyskindId
        WHERE jysmc lIKE
              concat('%', #{value}, '%')
    </select>


    <insert id="save" parameterType="Jiaoyanshi">
        insert into Jiaoyanshi
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="jysdh != null">
                jysdh,
            </if>
            <if test="jysmc != null">
                jysmc,
            </if>
            <if test="kch != null">
                kch,
            </if>
            <if test="xydh != null">
                xydh,
            </if>
            <if test="zydh != null">
                zydh,
            </if>
            <if test="jyskindId != null">
                jyskindId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jysdh != null">
                #{jysdh,jdbcType=VARCHAR},
            </if>
            <if test="jysmc != null">
                #{jysmc,jdbcType=VARCHAR},
            </if>
            <if test="kch != null">
                #{kch,jdbcType=VARCHAR},
            </if>
            <if test="xydh != null">
                #{xydh,jdbcType=VARCHAR},
            </if>
            <if test="zydh != null">
                #{zydh,jdbcType=VARCHAR},
            </if>
            <if test="jyskindId != null">
                #{jyskindId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="Jiaoyanshi">
        update Jiaoyanshi
        <set>

            <if test="jysdh != null">
                jysdh = #{jysdh,jdbcType=VARCHAR},
            </if>
            <if test="jysmc != null">
                jysmc = #{jysmc,jdbcType=VARCHAR},
            </if>
            <if test="kch != null">
                kch = #{kch,jdbcType=VARCHAR},
            </if>
            <if test="xydh != null">
                xydh = #{xydh,jdbcType=VARCHAR},
            </if>
            <if test="zydh != null">
                zydh = #{zydh,jdbcType=VARCHAR},
            </if>
            <if test="jyskindId != null">
                jyskindId = #{jyskindId,jdbcType=VARCHAR},
            </if>


        </set>
        where id =#{id,jdbcType=VARCHAR}
    </update>


    <delete id="deleteBatch">
        delete from Jiaoyanshi where id in
        <foreach item="courseId" collection="list" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </delete>

</mapper>
